[*.cs]

# CS9107: Параметр записан в состоянии включающего типа, а его значение также передается базовому конструктору. Значение также может быть записано базовым классом.
dotnet_diagnostic.CS9107.severity = none
